* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

nav {
  background-color: orange;
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.logo {
  border: 1px solid white;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.logo + p {
  margin: 0;
}

.logo-text {
  padding: 0 5px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.login {
  justify-self: flex-end;
}

main {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(0,0,0,.05);
}

article {
  display: flex;
  padding: 5px;
}

.arrow-up {
  height: 15px;
  width: 20px;
}

.article-links,
.article-links * {
  font-size: 10px;
}