* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

nav {
  background-color: orangered;
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
}

.logo {
  border: 1px solid white;
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.logo + p {
  margin: 0;
}

.logo-text {
  padding: 0 5px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.login {
  justify-self: flex-end;
}

main {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(0,0,0,.05);
}

.no-matches {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

article {
  display: flex;
  padding: 5px;
}

.arrow-up {
  height: 15px;
  width: 20px;
}

.article-links,
.article-links * {
  font-size: 10px;
}

footer {
  border-top: 2px solid orangered;
  width: 80%;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.05);
}

footer p,
footer p a {
  font-size: 12px;
}

.spin-wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.spin-wrapper p {
  margin: 0;
}

.load-spin {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: orangered;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}